 main{
  margin: 1.5em;
  /* default parent font size 16px*1.5 =24px */
  /*h1 is 200% font size 16*2=32*/
  /*32*1.5=48px*/
  margin: 10px;
}

body {
  background-color: rgb(224, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
  border: solid green 2px;
}
ul > :first-child {
  color: red;
}
ul li:nth-child(2) {
  color: orange;
}
ul li:nth-child(3) {
  color: #8a2be2ff;
}
ul > :last-child {
  color: blue;
}
p::first-letter {
  color: #8a2be2ff;
  font-size: 200%;
}
.header {
  font-size: 200%;
  text-shadow: orange -2px -2px;
}
