* {
  margin: 0; /* removes default 8px margin on page */
  padding: 0; /* removes padding on page */
  box-sizing: content-box; /* allows to include padding and border on an element */
}
html {
  margin: 20px 20px 20px 20px;
}

.logo {
  margin-right: auto;
}

.container {
  list-style: none;
  display: flex;
  overflow: hidden;
  background-color: #333;
  margin: 5px 0 0 5px;
  width: 81.25%;
  height: 50px;
}
#S1 ul {
  padding: 20px;
}
.items {
  padding: 10px 30px 0 10px;
  font-size: 20px;
}
.items a {
  text-decoration: none;
  color: white;
}
.items a:hover {
  color: #f8b281;
}
li:nth-child(odd) {
  color: #777;
}
li:nth-child(even) {
  color: blue;
}
#S1 li {
  list-style-type: none;
}
#S2 li {
  list-style-type: none;
}
#S1 {
  width: 81.25%;
  border: 2px solid;
}
.louvre {
  margin: 0 0 3px 3px;
}
